body {
    background-color: #FDF6F0;
    color: #191919;
    font-family: 'Montserrat', sans-serif;
    margin: 4% 16%;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    text-align: left;
}

h2, h3, h4 {
    margin: 4% 0;
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    font-size: 1.6rem;
    font-weight: 400;
}

h4 {
    font-size: 1.2rem;
    font-weight: 200;
    margin-bottom: 8%;
}

.big-container {
    background-color: #F8E2CF;
    border-radius: 10px;
    padding: 5% 10%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

#add-book {
    border: solid 1px pink;
    border-radius: 5px;
    color: #6b6b6b;
    font-size: 1.5rem;
}

.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.book-card {
    background-color: #F5C6AA;
    border: solid 2px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8% 0;
}

.book-card button {
    border: solid 1px black;
    border-radius: 5px;
    font-size: 1rem;
    margin: 5% 0;
    padding: 8px 15px;
    width: 120px;
}

.read-button {
    background-color: green;
}

.not-read-button {
    background-color: red;
}

#remove-button {
    background-color: red;
    margin-bottom: 0;
}

form {
    display: none;
    flex-direction: column;
    align-items: center;
}